<% @title = 'Groups' %>

<h1>Groups</h1>

<% if signed_in? %>
	<p><%= link_to "Add a group", new_group_path %></p>
<% end %>

<ul>
<% @groups.each do |group| %>
	
	<li>
		<%= link_to group.name, controller: "groups", action: "show", name: group.name %> 
		<% if signed_in? %>
			| <%= link_to "delete", group_path(group), method: :delete, confirm: "Are you sure ?" %>
		<% end %>
	</li>

<% end %>
</ul> 